<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../icons/favicon.ico" type="image/x-icon" />
    <title>Campeones del Mundo</title>
    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/home.css" />

    <!-- vinculación fontawesome -->
    <script
      src="https://kit.fontawesome.com/f7fb471b65.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Encabezado -->
    <header class="header" id="idHeaderSecciones">
       <!-- Agregado por JS -->
    </header>
   
   
    <main class="main">
       <section id="banner-register" class="d-flex">
      <div class="card-banner container">
        <section id="form-wrapper">
          <form action="" method="get">
            <h2 class="tituloRegistrarse">Iniciar Sesión</h2>
            <div class="form-control">
                <input class="controls" type="email" placeholder="Email" id="email" name="email">
                <div class="error-text"></div>
            </div>
            <div class="form-control">
                <input  class="controls" type="password" placeholder="Contraseña" id="password" name="password">
                <div class="error-text"></div>
            </div>
            <div class="contenedorBoton">
            <button class="btn btnIniciarSesion" type="submit">Iniciar Sesión</button>
            </div>
            <div class="form-terms">
                <a id="ayuda" class="ayuda" href="./register.html">Registrarse</a>
            </div>
        </form>
        </section>


    </section>

    </main>


    <footer class="footer-container" id="idFooterSecciones">
       <!-- Agregado por JS -->
    </footer>

    <script src="../JS/index.js"></script>
    <script src="../js/valida_iniciosesion.js"></script>
  </body>
</html>
