<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- vinculación con estilos y favicon -->
    <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
    <link rel="shortcut icon" href="../icons/favicon.ico" type="image/x-icon" />
    <title>Campeones del Mundo</title>
    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/home.css" />

    <!-- vinculación fontawesome -->
    <script
      src="https://kit.fontawesome.com/f7fb471b65.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Encabezado -->
    <header class="header" id="idHeaderSecciones">
       <!-- Agregado por JS -->
    </header>
    <main class="main">
      <section id="banner-register" class="d-flex">
        <div class="card-banner container">
          <h1>contacto</h1>
        </div>
      </section>
    </main>
    <footer class="footer-container" id="idFooter">
       <!-- Agregado por JS -->
    </footer>

    <script src="../JS/index.js"></script>
  </body>
</html>
