@charset "utf-8";

:root {
    /* configuración de colores */
    --GradienteCelesteBlanco: linear-gradient(180deg,
            rgba(255, 255, 255) 0%,
            rgba(117, 170, 219) 100%);
    --GradienteBlancoTop: linear-gradient(0deg,
            rgba(255, 255, 255) 10%,
            rgba(117, 170, 219) 100%);
    /* --GradienteBlancoCeleste: linear-gradient(90deg,
            rgba(117, 170, 219) 0%,
            rgba(255, 255, 255) 100%); */
    --GradienteBlancoCeleste: linear-gradient(90deg,
            #74ACDF 0%,
            rgba(255, 255, 255) 100%);
    --celeste: rgba(117, 170, 219);
    --celesteMasClaro: #3ac3e8;
    --celesteTurquesa: #00d9dd;
    --celesteClarisimo: #55ebbc;
    --verde: #a7f691;
    --amarillo: #f9f871;
    --azulClaro: #002e55;

    --bg-color: #fdede3;

    --primary-font: #190eb4ec;
    --doradoBandera: #fcbf49;
    --secondary-color: #fdede3;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    /*colores de fondo*/

    --bg-input-color: hwb(9 1% 44% / 0.575);
    /*fuente primaria*/
    --alto-btn-menu:40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--GradienteCelesteBlanco);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--GradienteBlancoCeleste);
}