@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Mostrar el menú desplegable al hacer hover sobre el enlace */
/* .header ul li:hover .dropdown-content { */

.header {
  /* display: flex; */
  z-index: 10;
  background: var(--GradienteBlancoTop);
  color: #ffffff;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* z-index: 9; */
}

.listaNav {
  display: flex;
  /* gap: 0 2vw; */
  list-style: none;
  flex-wrap: wrap;
  /* padding: 0 4rem; */
  /* .header ul { */
  /* position: relative; */
  /* padding-left: 2rem; */
  /* padding: 0 20px; */
  /* background: var(--GradienteBlancoCeleste); */
  /* overflow: hidden; */
  /* object-fit: cover; */
  /* z-index: 9; */
  align-items: center;
  margin: 0;
}

.listaNav li .sub_menu {
  /* display: flex; */
  /* position: absolute; */
  /* position: relative;
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: orange;
  text-align: center; */
  /* border: 1px solid orange; */
  position: relative;
  /* z-index: -1; */
  /* z-index: 0; */
  /* background: var(--GradienteBlancoCeleste); */
}

.listaNav li .sub_menu_aux {
  /* display: block; */
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  /* top: -100%; */
  z-index: -1;
  /* overflow: hidden; */
  /* overflow: visible; */
  /* object-fit: cover; */
  /* bottom: -100%; */
  top: -100%;
  /* top: 0; */
  transition: 0.6s;
  /* top: -100%; */
  /* text-align: center; */
  /* transform: translateX(-50%); */
}
.listaNav .sub_menu:hover .sub_menu_aux {
  top: 100%;
  overflow: visible;
}
.punto {
  display: flex;
  justify-content: center;
  position: relative;
}

.sub_menu_aux_2 {
  /* background-color: green; */

  /* position: relative; */
  /* text-align: center; */
  /* text-align: right; */
}

.listaNav li .dropdown-content {
  position: absolute;
  /* margin: 0 auto; */
  /* position: absolute; */
  /* position: relative; */
  /* z-index: -1; */
  z-index: 9;
  /* object-fit: scale-down; */
  /* top: 3.2rem; */
  /* transition: all 0.5s; */
  /* 6547 */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* top: -100%; */
  /* transform: translateY(-100%) translateZ(-1px); */
  /* transform: translateY(-100%); */
  /* right: 0; */
  /* left: 0; */
  /* display: block; con eso hace lo mismo */
  /* opacity: 0; */
  /* width: 100%; */
  background: var(--GradienteCelesteBlanco);
}
.dropdown-content .lista {
  width: 100%;
}

/* .header ul li .dropdown-content li { */
.header .listaNav li .dropdown-content li {
  text-decoration: none;
  list-style: none;
}

/* nav {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 10px;
} */
/* mal para hacerlo adaptable sera mas dificil ya que 
las futuras modificaciones tendran menos privilegio 
que las reglas señaladas con el selector general, por eso se usa clase*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* height: 60px; */
  max-width: 1200px;
  background: var(--GradienteBlancoTop);
  padding: 0 30px;
  margin: 0 auto;
}

#logo > a {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: var(--azulClaro);
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.logo-text {
  /* -webkit-text-stroke: 0.2px white; */
  text-shadow: 0 -1px 4px #fff, 0 -1px 10px #fff, 0 -10px 20px #fff,
    0 -18px 40px blue;
  font-size: 18px;
  font-weight: 800;
}
/* Al pasar el cursor sobre el elemento #logo, se activa una
animación que produce un efecto visual de sacudida y giro
repetitivo, mejorando la interacción visual cuando se interactúa con ese elemento. */
#logo:hover {
  animation: heartbeat 2s infinite;
}

.listaNav > li {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.listaNav .lista,
.linkNav_2 {
  text-decoration: none;
  color: var(--azulClaro);
  font-weight: bold;
  font-size: 0.9rem;
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  margin: 0 auto;
}

.listaNav .lista:hover {
  color: var(--azulClaro);
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 8px;
  /* padding: 0.5rem; */
  /* position: absolute; */

  transition: transform 0.3s, box-shadow 0.3s;
}

.linkNav {
  padding: 0.5rem;
}
.linkNav_2 {
  /* padding: 0.5rem;   */
  /* padding: 1.5rem; */
  /* white-space: nowrap; */
}

.linkNav .Login {
  background-color: var(--celeste);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.listaItem {
  display: flex;
  /* padding: 0.5rem; */
  /* margin-right: 2rem; */
}
.btn_menu {
  display: none;
  width: var(--alto-btn-menu);
  height: var(--alto-btn-menu);
  background-color: white;
  font-size: 24px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {

.logoTextoImg{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#logo{
  transform: scale(0.7);
  
}
.logo-text{
  text-align: center;
  font-size: 0.7 rem;
}

  .header .listaNav .lista {
    display: none;
  }

  .header .listaNav .contacto{
    display: flex;

  }

  .header .listaNav .linkNav,
  .header .listaNav ul .lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}


@media screen and (min-width: 481px) and (max-width: 767px) {
  .header .listaNav .lista {
    display: none;
  }

  .header .listaNav .contacto{
    display: flex;

  }

  .header .listaNav .linkNav,
  .header .listaNav ul .lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }


}


@media screen and (min-width: 768px) and (max-width: 1123px) {


  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}



.icon_logo_container {
  position: relative;
}

.icon_logo {
  /* max-width: 80px; */
  max-height: 30px;
  display: flex;
  /* -webkit-box-reflect: below -2px linear-gradient(to button, transparent, rgba(0,0,0,0.8)); */
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
  /* opacity: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1)); */
  /* este no deberia funcionar */
  /* -webkit-mask-image: -webkit-gradient(linear, top, bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))); */
}

.logo_logo_reflejo {
  /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))); */
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  position: absolute;
  left: 0;
  top: 24px;
  max-height: 30px;
  transform: rotateX(120deg);
  /* -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); */
}
