@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.header ul {
  position: relative;
  /* padding-left: 2rem; */
}

/* Mostrar el menú desplegable al hacer hover sobre el enlace */
.header ul li:hover .dropdown-content {
  opacity: 1;
}

.header ul li .dropdown-content li {
  text-decoration: none;
  list-style: none;
}

.header {
  /* display: flex; */
  background: var(--GradienteBlancoCeleste);
  color: #ffffff;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  z-index: 9999;
}

.header ul li .dropdown-content {
  position: absolute;
  z-index: 2;

  /* top: 3.2rem; */
  right: 0.1rem;
  transition: all 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* display: block; con eso hace lo mismo */
  opacity: 0;
  background: var(--GradienteCelesteBlanco);
}

/* nav {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 10px;
} */
/* mal para hacerlo adaptable sera mas dificil ya que 
las futuras modificaciones tendran menos privilegio 
que las reglas señaladas con el selector general, por eso se usa clase*/
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
#logo a {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: var(--azulClaro);
  font-weight: bold;
  font-size: 1.2rem;
  /* margin-left: 2rem; */
}
.logo-text{
  /* -webkit-text-stroke: 0.2px white; */
  text-shadow: 0 -1px 4px #fff, 0 -1px 10px #fff, 0 -10px 20px #fff, 0 -18px 40px blue;
  font-size: 18px;
  font-weight: 800;

}
/* Al pasar el cursor sobre el elemento #logo, se activa una
animación que produce un efecto visual de sacudida y giro
repetitivo, mejorando la interacción visual cuando se interactúa con ese elemento. */
#logo:hover {
  animation: heartbeat 2s infinite;
}

.listaNav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  white-space: nowrap;

}

.listaNav > li{
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}
.listaNav a {
  text-decoration: none;
  color: var(--azulClaro);
  font-weight: bold;
  font-size: 0.9rem;
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listaNav a:hover {
  color: var(--azulClaro);
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 8px;
  /* padding: 0.5rem; */
  /* position: absolute; */
  
  transition: transform 0.3s, box-shadow 0.3s;
}

.linkNav {
  padding: 0.5rem;
}

.linkNav .Login {
  background-color: var(--celeste);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}


.listaItem {
  /* padding: 0.5rem; */
  /* margin-right: 2rem; */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header nav {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 10px 10px;
  }

  .logo-text {
    display: none;
  }

}

@media screen and (max-width: 767px) {
  .header ul .lista {
    display: none;
  }

  .header ul .linkNav {
    font-size: 1.5vh;
    margin-left: 0px;
    display: flex;
    list-style: none;
    padding: 0.5rem 0.5rem;
  }

  .logo-text {
    font-size: 1.8vh;
    margin-left: 0;
    margin-right: 0;
  }

  #logo img {

    display: none;
  }
}

.listaNav {
  display: flex;
  /* gap: 0 2vw; */
  list-style: none;
  /* padding: 0 4rem; */
}

.icon_logo_container {
  position: relative;
}

.icon_logo {
  /* max-width: 80px; */
  max-height: 30px;
  /* -webkit-box-reflect: below -2px linear-gradient(to button, transparent, rgba(0,0,0,0.8)); */
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
  /* opacity: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1)); */
  /* este no deberia funcionar */
  /* -webkit-mask-image: -webkit-gradient(linear, top, bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))); */
}

.logo_logo_reflejo {
  /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))); */
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  position: absolute;
  left: 0;
  top: 24px;
  max-height: 30px;
  transform: rotateX(120deg);
  /* -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); */
}