@charset "utf-8";
:root{
    --oscuro_cac:"#1C1A38";
    --claro:"#222222";
}
body{
    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#caja{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: r 10s infinite linear;
    transform-style: preserve-3d;
    color: white;
    /* transform: rotateX(30deg); */
    height: 200px;
}
#caja:hover .texto,
#caja:hover{
    animation-play-state: paused;
}
.items{
    width: 120px;
    height: 200px;
    top: 0px;
    /* left: 0; */
    /* right: 0; 11 6427 2490*/
    position: fixed;
}
.items img{
    /* width: 150px; */
    width: 120px;
    /* height: 240px; */
    height: 200px;
}
.items:nth-child(1){
    transform: rotateY(0deg) translateZ(160px);
}
.items:nth-child(2){
    transform: rotateY(60deg) translateZ(160px);
}
.items:nth-child(3){
    transform: rotateY(120deg) translateZ(160px);
}
.items:nth-child(4){
    transform: rotateY(180deg) translateZ(160px);
}
.items:nth-child(5){
    transform: rotateY(240deg) translateZ(160px);
}
.items:nth-child(6){
    transform: rotateY(300deg) translateZ(160px);
}
.texto{
    /* animation: rl 10s infinite linear;    */
    animation: l 10s infinite linear;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: gold;
}
@keyframes r{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
@keyframes l{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}
.header{
    /* display: subgrid; */
    display: flex;
    justify-content: space-between;
}
.icon{
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#menu{
    display: none;
}
.lista_menu{
    /* display: inline-block; */
    display: flex;
    padding: 10px;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border: red;

    margin: 0;
    /* padding: 0; */
    position: absolute;
    z-index: 2;
    /* left: -100%; */
    top: 40px;
    left: 0%;

    background-color: gray;
    transform: translateX(-100%);
    transition: 0.5s linear;
    /* width: 100%; */
    font-size: 18px;
}
.lista_menu>a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.logo{
    color: #1C1A38;
    background-color: white;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    /* background-color: #1C1A38; */
    padding: 0 5px;
}
#menu:checked+.lista_menu{
    /* left: 0; */
    /* left: 100%; */
    transform: translateX(0%);
    background-color: blueviolet;
}
.btn_menu{
    color: white;
}
.icon:focus
/* .btn_menu:focus-within, */
/* .btn_menu:focus-visible */
{
    z-index: -1;
    /* background-color: green; */
}
.icon:focus+.lista_menu{
    transform: translateX(0%);
    background-color: blueviolet;
}
.caja_de_relleno{
    height: 300px;
    width: 200px;
}