@charset "utf-8";
body{
    background-color: black;
    margin: 0;
}
#caja{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: r 10s infinite linear;
    transform-style: preserve-3d;
    color: white;
    /* transform: rotateX(30deg); */
    height: 200px;
}
#caja:hover .texto,
#caja:hover{
    animation-play-state: paused;
}
.items{
    width: 120px;
    height: 200px;
    top: 0px;
    /* left: 0; */
    /* right: 0; 11 6427 2490*/
    position: fixed;
}
.items img{
    /* width: 150px; */
    width: 120px;
    /* height: 240px; */
    height: 200px;
}
.items:nth-child(1){
    transform: rotateY(0deg) translateZ(160px);
}
.items:nth-child(2){
    transform: rotateY(60deg) translateZ(160px);
}
.items:nth-child(3){
    transform: rotateY(120deg) translateZ(160px);
}
.items:nth-child(4){
    transform: rotateY(180deg) translateZ(160px);
}
.items:nth-child(5){
    transform: rotateY(240deg) translateZ(160px);
}
.items:nth-child(6){
    transform: rotateY(300deg) translateZ(160px);
}
.texto{
    /* animation: rl 10s infinite linear;    */
    animation: l 10s infinite linear;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: gold;
}
@keyframes r{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
@keyframes l{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}