@import url("./partials/base.css");
@import url('./icons.css');
@import url("./partials/header.css");
@import url("./partials/banner.css");
@import url("./partials/galeria.css");
@import url("./partials/productos.css");
@import url("./partials/presentacion.css");
@import url("./partials/footer.css");
@import url("./test.css");
@import url("./partials/form_register.css");

body {
    background-color: var(--GradienteBlancoCeleste);
    font-family: "Noto Serif", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
h2 {
    color: #fff;
    font-size: 2vw;
  }
.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card-banner {
    margin: 0 auto;
    text-align: center;
    padding: 0px 160px;
  }

#galeria,
#productos {

  text-align: center;
  padding: 3.5rem;
}

#galeria h2,
#productos h2,
#quienes-somos h2 {

  color: var(--azulClaro);
  margin: 30px 0px;
  text-align: center;
}

/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1367px) {
    /* .header nav{
      height: 11vh;
    } */

    /* #header-register {
      height: 11vh;
    } */

    #banner-register {
        /* height: 81.4vh; */
    }

    #banner {
        height: 91.5vh;
    }
}


/* @media screen and (min-width: 1024px) and (max-width: 1366px) {
  
  } */

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 3vw;
    }


    #banner {
        height: 400px;
    }

    #search {
        height: 200px;
    }

    .container {
        max-width: 720px;

    }

    .card-banner {
        padding: 0px 75px;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* CELULARES */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 3vw;
    }

    .h2-subtitle {
        font-size: 5vw;
    }


    #banner {
        height: 300px;
    }

    #search {
        height: 200px;
    }

    .container {
        max-width: 420px;
    }

    .card-banner {
        margin-top: 50px;
        padding: 0px 50px;
    }

    .btn-Registrarse {
        font-size: 1vh;
    }

    #form-wrapper {
        padding-left: 1rem;
        padding-right: 1.5rem;
        padding-bottom: 0.5rem;
        background-color: rgba(117, 170, 219, 0.7);
        border-radius: 30px 2px;
    }


    .controls {
        font-size: 10px;
    }

    .form-control {

        padding: 2.5px;
        font-size: 12px;

    }
    .btn {
        font-size: 12px;
        padding: 0.5rem;
        border-radius: 10px;
        font-family: "Noto Serif", sans-serif;
        background-color: cornflowerblue;
        color: white;
        margin: 0.7rem;
    }

    .form-help {
        font-size: 0.8rem;
        color: blanchedalmond;
        font-family: "Noto Serif", sans-serif;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer a {
        padding: 2px 0px;
    }
}

/* Clase Nº6:PLAN DE ESTUDIOS: Grid. Implementación
  de Grid. Maquetado con Flex y Grid. */